<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LEReachHostName</key>
	<string>www.baidu.com</string>
	<key>LEDistributionKey</key>
	<dict>
		<key>LESSLUrlKey</key>
		<string>https://api.tlandnovels.com/</string>
		<key>LEIDSSLUrlKey</key>
		<string>https://api.hireadnovel.com/</string>
		<key>LEImageUrlKey</key>
		<string>https://api.tlandnovels.com/</string>
		<key>LEIDImageUrlKey</key>
		<string>https://api.hireadnovel.com/</string>
	</dict>
	<key>LEGrayEnvironmentKey</key>
	<dict>
		<key>LEBaseUrlKey</key>
		<string>https://apiland.qrxs.cn/</string>
		<key>LESSLUrlKey</key>
		<string>https://apiland.qrxs.cn/</string>
		<key>LEImageUrlKey</key>
		<string>https://apiland.qrxs.cn/</string>
	</dict>
	<key>LEDevelopmentKey</key>
	<dict>
		<key>LEBaseUrlKey</key>
		<string>https://apiland.qrxs.cn/</string>
		<key>LESSLUrlKey</key>
		<string>https://apiland.qrxs.cn/</string>
		<key>LEIDSSLUrlKey</key>
		<string>https://apitest.qrxs.cn</string>
		<key>LEImageUrlKey</key>
		<string>https://apiland.qrxs.cn/</string>
		<key>LEIDImageUrlKey</key>
		<string>https://apitest.qrxs.cn</string>
	</dict>
	<key>LEPersonalKey</key>
	<dict>
		<key>LEBaseUrlKey</key>
		<string>https://api.tlandnovels.com/</string>
		<key>LESSLUrlKey</key>
		<string>https://api.tlandnovels.com/</string>
	</dict>
	<key>LEAPI_Service</key>
	<dict>
		<key>HTTP_Post_test</key>
		<dict>
			<key>api</key>
			<string>api/user/user_info</string>
			<key>description</key>
			<string>获取用户信息</string>
		</dict>
		<key>HTTP_Post_Catalog</key>
		<dict>
			<key>api</key>
			<string>api/book/get_section</string>
			<key>description</key>
			<string>获取目录</string>
		</dict>
		<key>HTTP_Post_Upload_Logininfo</key>
		<dict>
			<key>api</key>
			<string>api/public/login</string>
			<key>description</key>
			<string>上传用户登录信息</string>
		</dict>
		<key>HTTP_Post_Bookrack</key>
		<dict>
			<key>api</key>
			<string>api/rack/get_rack</string>
			<key>description</key>
			<string>获取书架</string>
		</dict>
		<key>HTTP_Post_Bookrack_Rcommend</key>
		<dict>
			<key>api</key>
			<string>api/groom/to_rack</string>
			<key>description</key>
			<string>获取推荐书架</string>
		</dict>
		<key>HTTP_Post_Bookrack _Add</key>
		<dict>
			<key>api</key>
			<string>api/rack/add_rack</string>
			<key>description</key>
			<string>添加书籍到书架</string>
		</dict>
		<key>HTTP_Post_Bookrack _Delete</key>
		<dict>
			<key>api</key>
			<string>api/rack/delrack</string>
			<key>description</key>
			<string>删除书架书籍</string>
		</dict>
		<key>HTTP_Post_Fiction_Banner</key>
		<dict>
			<key>api</key>
			<string>api/book/get_banner</string>
			<key>description</key>
			<string>获取banner图</string>
		</dict>
		<key>HTTP_Post_Fiction_List</key>
		<dict>
			<key>api</key>
			<string>api/book/get_bookList</string>
			<key>description</key>
			<string>获取小说首页</string>
		</dict>
		<key>HTTP_Post_Fiction_Detail</key>
		<dict>
			<key>api</key>
			<string>api/book/get_bookDetail</string>
			<key>description</key>
			<string>获取小说详情页</string>
		</dict>
		<key>HTTP_Post_Book_Commen</key>
		<dict>
			<key>api</key>
			<string>api/common/getmore_discuss</string>
			<key>description</key>
			<string>详情页评论</string>
		</dict>
		<key>HTTP_Post_Fiction_Recommend</key>
		<dict>
			<key>api</key>
			<string>api/book/hot_groom</string>
			<key>description</key>
			<string>热门小说推荐</string>
		</dict>
		<key>HTTP_Post_Fiction_Reward</key>
		<dict>
			<key>api</key>
			<string>api/book/reward</string>
			<key>description</key>
			<string>小说打赏</string>
		</dict>
		<key>HTTP_Post_Fiction_Reward_List</key>
		<dict>
			<key>api</key>
			<string>api/book/get_reward</string>
			<key>description</key>
			<string>添加书籍到书架</string>
		</dict>
		<key>HTTP_Post_Upload_Comment</key>
		<dict>
			<key>api</key>
			<string>api/user/add_discuss</string>
			<key>description</key>
			<string>用户评论</string>
		</dict>
		<key>HTTP_Post_Fiction_SectionContent</key>
		<dict>
			<key>api</key>
			<string>api/book/get_section_content</string>
			<key>description</key>
			<string>小说章节内容</string>
		</dict>
		<key>HTTP_Post_Cartoon_List</key>
		<dict>
			<key>api</key>
			<string>api/cartoon/get_cartoonList</string>
			<key>description</key>
			<string>获取漫画首页</string>
		</dict>
		<key>HTTP_Post_Cartoon_Banner</key>
		<dict>
			<key>api</key>
			<string>api/cartoon/get_banner</string>
			<key>description</key>
			<string>获取漫画首页</string>
		</dict>
		<key>HTTP_Post_Cartoon_Detail</key>
		<dict>
			<key>api</key>
			<string>api/cartoon/get_cartoonDetail</string>
			<key>description</key>
			<string>获取漫画详情页</string>
		</dict>
		<key>HTTP_Post_Cartoon_Chapters</key>
		<dict>
			<key>api</key>
			<string>api/cartoon/get_cart_section</string>
			<key>description</key>
			<string>获取漫画选集</string>
		</dict>
		<key>HTTP_Post_Cartoon_Recommend</key>
		<dict>
			<key>api</key>
			<string>api/cartoon/hot_cart_groom</string>
			<key>description</key>
			<string>热门漫画推荐</string>
		</dict>
		<key>HTTP_Post_Cartoon_CommentLiist</key>
		<dict>
			<key>api</key>
			<string>api/cartoon/add_cart_discuss</string>
			<key>description</key>
			<string>添加书籍到书架</string>
		</dict>
		<key>HTTP_Post_Charge_Record</key>
		<dict>
			<key>api</key>
			<string>api/user/get_seven_charge</string>
			<key>description</key>
			<string>充值记录</string>
		</dict>
		<key>HTTP_Post_Task_Coin_Record</key>
		<dict>
			<key>api</key>
			<string>api/user/day_task_record</string>
			<key>description</key>
			<string>每日任务金币明细记录</string>
		</dict>
		<key>HTTP_Post_Charge_Item</key>
		<dict>
			<key>api</key>
			<string>api/user/get_charge</string>
			<key>description</key>
			<string>充值数值列表</string>
		</dict>
		<key>HTTP_Post_Consum_Record</key>
		<dict>
			<key>api</key>
			<string>api/user/get_seven_expend_record</string>
			<key>description</key>
			<string>用户消费记录</string>
		</dict>
		<key>HTTP_Post_FeedBack</key>
		<dict>
			<key>api</key>
			<string>api/user/add_agree</string>
			<key>description</key>
			<string>意见反馈</string>
		</dict>
		<key>HTTP_Post_User_CommentList</key>
		<dict>
			<key>api</key>
			<string>api/user/get_owen_discuss</string>
			<key>description</key>
			<string>获取用户个人评论内容</string>
		</dict>
		<key>HTTP_Post_Sign</key>
		<dict>
			<key>api</key>
			<string>api/common/get_sign</string>
			<key>description</key>
			<string>签到奖励数值</string>
		</dict>
		<key>HTTP_Post_Sign_user</key>
		<dict>
			<key>api</key>
			<string>api/user/sign</string>
			<key>description</key>
			<string>用户签到</string>
		</dict>
		<key>HTTP_Post_Sign_Continuous</key>
		<dict>
			<key>api</key>
			<string>api/user/get_signday</string>
			<key>description</key>
			<string>获取用户的连续签到天数</string>
		</dict>
		<key>HTTP_Post_Invate_Friend</key>
		<dict>
			<key>api</key>
			<string>api/user/get_my_invite</string>
			<key>description</key>
			<string>我邀请的好友</string>
		</dict>
		<key>HTTP_Post_Cartoon_ClickLike</key>
		<dict>
			<key>api</key>
			<string>api/user/user_hits</string>
			<key>description</key>
			<string>充值记录</string>
		</dict>
		<key>HTTP_Post_Cartoon_Chapter_Content</key>
		<dict>
			<key>api</key>
			<string>api/cartoon/get_cart_sec_content</string>
			<key>description</key>
			<string>漫画章节内容</string>
		</dict>
		<key>HTTP_Post_Book_Added_RACK</key>
		<dict>
			<key>api</key>
			<string>api/user/get_owen_rack</string>
			<key>description</key>
			<string>判断书籍是否被用户加入书架</string>
		</dict>
		<key>HTTP_Post_Invate_Rule</key>
		<dict>
			<key>api</key>
			<string>api/user/get_invite</string>
			<key>description</key>
			<string>获取邀请奖励数值</string>
		</dict>
		<key>HTTP_Post_Book_Reward</key>
		<dict>
			<key>api</key>
			<string>api/user/reward</string>
			<key>description</key>
			<string>小说打赏</string>
		</dict>
		<key>HTTP_Post_User_Charge</key>
		<dict>
			<key>api</key>
			<string>api/book/recharge</string>
			<key>description</key>
			<string>充值书币</string>
		</dict>
		<key>HTTP_Post_User_Reward</key>
		<dict>
			<key>api</key>
			<string>api/user/reward</string>
			<key>description</key>
			<string>用户打赏</string>
		</dict>
		<key>HTTP_Post_User_Unlock_Chaprer</key>
		<dict>
			<key>api</key>
			<string>api/user/deblocking</string>
			<key>description</key>
			<string>用户解锁收费章节</string>
		</dict>
		<key>HTTP_User_Loginout</key>
		<dict>
			<key>api</key>
			<string>api/public/logout</string>
			<key>description</key>
			<string>用户退出登录</string>
		</dict>
		<key>HTTP_Pay_Indentify</key>
		<dict>
			<key>api</key>
			<string>api/appstore/pay</string>
			<key>description</key>
			<string>验证内购凭证</string>
		</dict>
		<key>HTTP_Post_Popularity</key>
		<dict>
			<key>api</key>
			<string>api/common/add_hits</string>
			<key>description</key>
			<string>记录书籍人气值</string>
		</dict>
		<key>HTTP_Post_Launch_ad</key>
		<dict>
			<key>api</key>
			<string>api/common/begin_advert</string>
			<key>description</key>
			<string>获取启动广告</string>
		</dict>
		<key>HTTP_Post_Vistor_Mode</key>
		<dict>
			<key>api</key>
			<string>api/common/get_status</string>
			<key>description</key>
			<string>游客模式开关</string>
		</dict>
		<key>HTTP_Post_Upload_Push_ID</key>
		<dict>
			<key>api</key>
			<string>api/user/jpush_mess</string>
			<key>description</key>
			<string>上传推送id</string>
		</dict>
		<key>HTTP_Post_Update_APP</key>
		<dict>
			<key>api</key>
			<string>api/common/add_version</string>
			<key>description</key>
			<string>版本升级</string>
		</dict>
		<key>HTTP_Post_Product_PayId</key>
		<dict>
			<key>api</key>
			<string>api/appstore/make_order</string>
			<key>description</key>
			<string>生成支付订单</string>
		</dict>
		<key>HTTP_Post_Pay_Faild</key>
		<dict>
			<key>api</key>
			<string>api/appstore/order_fail</string>
			<key>description</key>
			<string>支付失败</string>
		</dict>
		<key>HTTP_Post_Get_Money</key>
		<dict>
			<key>api</key>
			<string>api/user/get_remainder</string>
			<key>description</key>
			<string>获取用户的金币</string>
		</dict>
		<key>HTTP_Post_Fiction_Free_List</key>
		<dict>
			<key>api</key>
			<string>api/book/get_freeList</string>
			<key>description</key>
			<string>获取限时免费小说</string>
		</dict>
		<key>HTTP_Post_Cartoon_Free_List</key>
		<dict>
			<key>api</key>
			<string>api/cartoon/get_freeCartoonList</string>
			<key>description</key>
			<string>获取限时免费漫画</string>
		</dict>
		<key>HTTP_Post_Cartoon_Rec</key>
		<dict>
			<key>api</key>
			<string>api/cartoon/hotw_cart_groom</string>
			<key>description</key>
			<string>获取推荐漫画</string>
		</dict>
		<key>HTTP_Post_Fiction_Rec</key>
		<dict>
			<key>api</key>
			<string>api/book/hotw_groom</string>
			<key>description</key>
			<string>获取推荐漫画</string>
		</dict>
		<key>HTTP_Post_Fiction_Hot</key>
		<dict>
			<key>api</key>
			<string>api/book/get_hotList</string>
			<key>description</key>
			<string>获取热门畅销小说排行榜</string>
		</dict>
		<key>HTTP_Post_Cartoon_Hot</key>
		<dict>
			<key>api</key>
			<string>api/cartoon/get_hotCList</string>
			<key>description</key>
			<string>获取热门畅销漫画排行榜</string>
		</dict>
		<key>HTTP_Post_Fiction_Random</key>
		<dict>
			<key>api</key>
			<string>api/book/get_randList</string>
			<key>description</key>
			<string>获取随机推荐小说</string>
		</dict>
		<key>HTTP_Post_Cartoon_Random</key>
		<dict>
			<key>api</key>
			<string>api/cartoon/get_randCartoonList</string>
			<key>description</key>
			<string>获取随机推荐漫画</string>
		</dict>
		<key>HTTP_Post_Advertise_Reward</key>
		<dict>
			<key>api</key>
			<string>api/user/add_read_advert</string>
			<key>description</key>
			<string>看广告送金币</string>
		</dict>
		<key>HTTP_Post_Friend_Charge</key>
		<dict>
			<key>api</key>
			<string>api/appstore/agentPay</string>
			<key>description</key>
			<string>代充苹果内购验证</string>
		</dict>
		<key>HTTP_Post_day_Share</key>
		<dict>
			<key>api</key>
			<string>api/user/add_share</string>
			<key>description</key>
			<string>每日分享</string>
		</dict>
		<key>HTTP_Post_day_Read</key>
		<dict>
			<key>api</key>
			<string>api/user/add_read</string>
			<key>description</key>
			<string>每日阅读</string>
		</dict>
		<key>HTTP_Post_Task_Finish</key>
		<dict>
			<key>api</key>
			<string>api/user/at_task</string>
			<key>description</key>
			<string>更新每日任务</string>
		</dict>
		<key>HTTP_Post_Hot_Search</key>
		<dict>
			<key>api</key>
			<string>api/common/hot_search</string>
			<key>description</key>
			<string>热搜信息</string>
		</dict>
		<key>HTTP_Post_Task_Banner</key>
		<dict>
			<key>api</key>
			<string>api/common/task_banner</string>
			<key>description</key>
			<string>任务bananner</string>
		</dict>
		<key>HTTP_Post_Recent_Read</key>
		<dict>
			<key>api</key>
			<string>api/user/user_read_history</string>
			<key>description</key>
			<string>用户最近浏览</string>
		</dict>
		<key>HTTP_Post_UserIno</key>
		<dict>
			<key>api</key>
			<string>api/common/get_user_mess</string>
			<key>description</key>
			<string>获取用户头像昵称</string>
		</dict>
		<key>HTTP_Post_System_Time</key>
		<dict>
			<key>api</key>
			<string>api/common/get_system_time</string>
			<key>description</key>
			<string>获取系统时间</string>
		</dict>
		<key>HTTP_Post_Free_Area</key>
		<dict>
			<key>api</key>
			<string>api/common/free_area</string>
			<key>description</key>
			<string>免费专区</string>
		</dict>
		<key>HTTP_Post_Free_Banner</key>
		<dict>
			<key>api</key>
			<string>api/common/get_free_banner</string>
			<key>description</key>
			<string>免费专区</string>
		</dict>
		<key>HTTP_Post_advertise_frequency</key>
		<dict>
			<key>api</key>
			<string>api/common/get_advert_rate</string>
			<key>description</key>
			<string>设置显示广告频率</string>
		</dict>
		<key>HTTP_Post_QA</key>
		<dict>
			<key>api</key>
			<string>api/common/get_faq</string>
			<key>description</key>
			<string>常见问题</string>
		</dict>
		<key>HTTP_Post_Search</key>
		<dict>
			<key>api</key>
			<string>api/common/book_search</string>
			<key>description</key>
			<string>搜索书</string>
		</dict>
	</dict>
</dict>
</plist>
